# Tomcat
server:
  port: 8000

# Spring
spring:
  application:
    # 应用名称
    name: cloud-gateway
  profiles:
    # 环境配置
    active: dev,route
  main:
    allow-bean-definition-overriding: true
  cloud:
    sentinel:
      eager: true  # 取消控制台懒加载
      transport:
        dashboard: 127.0.0.1:8718  # 控制台地址
      datasource:
        ds1:
          nacos:
            server-addr: 127.0.0.1:8848
            dataId: cloud-gateway-sentinel
            groupId: DEFAULT_GROUP
            data-type: json
            rule-type: flow
